
.aboutMeSection {
  background-image: linear-gradient(to bottom left, #e69, #6ee);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: rotateY(90deg);
  transition: transform 1s, opacity 1s;
}

.aboutMeSection.inView {
  opacity: 1;
  transform: rotateY(0);
}

.textContent {
  flex: 2 1 400px;
  max-width: 600px;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}


