.experience {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #6EE, #E69);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
  column-gap: 20px;
  padding: 20px;
 
}

.experienceItem {
  position: relative;
  overflow: hidden;
}

.experienceContent {
  position: relative;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;

}

.experienceContent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/experience-images/marketing.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(9px); 
  z-index: -1;
}

.experienceContent h3 {
  margin: 0;
  font-size: 1.5em;
}

.experienceContent p {
  margin: 15px 0 25px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1000;
}

.modalContent {
  max-width: 90%;
  background: #222;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
}

.modalContent h2 {
  margin-top: 0;
}

.modalContent p {
  margin: 10px 0;
}

.modalVisible {
  opacity: 1;
  visibility: visible;
}

.modalNav {
  display: flex; 
  justify-content: space-between;
}

button {
  height: 3rem;
}

.ctaLinkedin {

  background-color: #0077B5;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.ctaLinkedin:hover {
  outline: 4px solid white; 
  color: white; 
  font-weight: 900;
}
