.header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0;
  position: sticky;
  top: 0;
  left: 0;
  animation: enhance-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 100px;
  z-index: 10;
  color: #6EE; 
}

@keyframes enhance-header {
  to {
    background-color: rgb(102, 238, 238, 0.4);
    backdrop-filter: blur(20px);
    font-size: 18px;
    color: #E69; 
  }
}



