.hero {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-image: linear-gradient(to bottom right, #6EE, #E69);
  /* background-image: linear-gradient(
      to bottom right,
      rgba(110, 238, 238, 0.3),
      rgba(230, 105, 105, 0.3)
    ),
    url(/src/assets/hero_image.png); */
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative; 
}

@media (max-width: 750px) {
  .hero {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.head1 {
  font-family:orbitron, sans-serif; 
  position: absolute;
  right: 12rem;
  top: 10rem; 
  font-size: 150%;
  color: white; 
  text-shadow:
    -1px -1px 0 #000, 
    1px -1px 0 #000,
    -1px 1px 0 #000,  
    1px 1px 0 #000; 
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40%;
  max-height: 400px;
  min-width: 300px;
  line-height: 0;
  flex-wrap: wrap;
}





.overlay .img {
  width: 15rem;
  height: 15rem;
  animation: crecer 2s forwards ease-in-out;
}

@keyframes crecer {
  0% {
    transform: scale(0.1);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
