.projects {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to top right, #6EE, #E69); 
  position: relative;
  overflow: hidden;
}

.projects h1 {
  margin-bottom: 2rem;
  margin-top: 5rem
}

.carrousel {
  display: flex; 
  margin: 0.5rem auto; 
  width: 50rem;
  height: 450px;
  padding-bottom: 3rem;

}

.img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;

}

.img:hover {
  cursor: crosshair; 
  width: 300px;
  opacity: 1; 
  filter: contrast(120%)
}











  