
.skillsGridContainer {
    background-image: linear-gradient(to top left, #e69, #6ee);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .skillsCard {
    margin-block: 8rem;
    background-color: black;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0), -3px -3px 20px rgb(195, 53, 53),5px 5px 20px rgba(0, 0, 0) inset, -3px -3px 20px rgb(195, 53, 53) inset;
    padding: 2rem;
    flex: 1 1 300px;
    max-width: 400px;
    text-align: center;
  }
  
  
  .skillsHeading {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;
    align-items: center;
  }
  
  .skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .skillLogo {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
  }
  
  .softSkillIcon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  